# Frontend
NEXT_PUBLIC_API_BASE_URL=https://your-vercel-domain.vercel.app/api
NEXT_PUBLIC_API_KEY=

# Backend
GOOGLE_SHEETS_ID=your-google-sheet-id
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
API_SHARED_SECRET=optional-shared-secret

